<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="hidden md:block object-fit p-2 w-full md:h-96 blur-sm md:blur-none" 
            src="assets/images/static/headerimage-solutions-fnb.png" alt="Banner" />
        <div class="md:absolute flex flex-col items-start justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-128 md:left-16 md:top-20">
            <span class="text-2xl text-black md:text-white dark:text-white font-semibold capitalize">F&B</span>
            <div class="w-30 bg-primary-500 md:bg-white dark:bg-white h-0.5 my-8"></div>
            <span class="text-3xl sm:text-4xl uppercase text-black md:text-white dark:text-white">F&B Ordering Solution</span>
            <span class="text-xl text-primary-500 md:text-white dark:text-white">Take your F&B business to the next level with Symplified. Our streamlined ordering solutions prioritize ease of use, while introducing labour cost saving measures, it increases your sales by cross-selling and upselling to your customer.</span>
        </div>
    </div>
    <!-- All-in-one F&B Ordering Solution -->
    <div class="flex flex-col items-center py-4">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4 text-center">All-in-one F&B Ordering Solution</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Waiter Ordering -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/waiter-ordering.png" alt="Waiter Ordering">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Waiter Ordering</span>
                    <span class="text-center">
                        Waiter taking orders using tablet with just one click.
                    </span>
                </div>
            </div>
            <!-- QR Ordering -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/qr-ordering.png" alt="QR Ordering">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">QR Ordering</span>
                    <span class="text-center">
                        Order directly by scanning the QR code via a mobile device.
                    </span>
                </div>
            </div>
            <!-- Retails -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/online-delivery.png" alt="Online Delivery">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Online Delivery</span>
                    <span class="text-center">
                        Allow customers order food from your store using our delivery or self-pickup service.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Perfect For Any F&B Businesses -->
    <div class="flex flex-col py-10 px-4">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Perfect For Any F&B Businesses</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Foodcourt -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Foodcourt.png" alt="Foodcourt">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Foodcourt</span>
            </div>
            <!-- Cafe -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Cafe.png" alt="Cafe">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Cafe</span>
            </div>
            <!-- Resto Bar -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Resto-Bar.png" alt="Resto Bar">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Resto Bar</span>
            </div>
            <!-- Mamak -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Mamak.png" alt="Mamak">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Mamak</span>
            </div>
            <!-- Kopitiam -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Kopitiam.png" alt="Kopitiam">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Kopitiam</span>
            </div>
            <!-- Specialty Restaurant -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Specialty-Restaurant.png" alt="Specialty Restaurant">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Specialty Restaurant</span>
            </div>
            <!-- Food Truck -->
                <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Food-Truck.png" alt="Food Truck">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Food Truck</span>
            </div>
            <!-- Boutique Hotel -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Boutique-Hotel.png" alt="Boutique Hotel">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Boutique Hotel</span>
            </div>
        </div>
    </div>
    <!-- Payment channels -->
    <div class="flex flex-col py-10 px-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Payment channels</span>
        <!-- Content -->
        <div class="grid grid-cols-5 flex-wrap justify-center gap-4">
            <!-- TnG -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/TnG.svg" alt="TnG">
            <!-- Boost -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Boost.svg" alt="Boost">
            <!-- Grab Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/GPay.svg" alt="Grab Pay">
            <!-- Shopee Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/SPay.svg" alt="Shopee Pay">
            <!-- Duit Now -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Duit-Now.svg" alt="Duit Now">
            <!-- FPX -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/FPX.svg" alt="FPX">
            <!-- Master Card -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Master-Card.svg" alt="Master Card">
            <!-- Visa -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Visa.svg" alt="Visa">
            <!-- Ali Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Alipay.svg" alt="Ali Pay">
            <!-- WeChat Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/WeChat-Pay.svg" alt="WeChat Pay">
        </div>
    </div>
</div>
