<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="object-fit p-2 w-full md:h-160 blur-sm md:blur-none" 
            src="assets/images/static/Banner.png" alt="Banner" />
        <img
            class="object-fit p-2 w-full absolute sm:w-2/3 md:hidden sm:top-1/2 sm:left-1/2 sm:transform sm:-translate-x-1/2 sm:-translate-y-1/2" 
            src="assets/images/logo/symplified-logo.png" alt="Banner" />
        <div class="md:absolute flex items-center justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-72 md:right-30 md:top-40">
            <span class="text-3xl sm:text-4xl font-bold text-primary-600 uppercase text-center">Digitalise Your Business With Your Very Own Online Store</span>
        </div>
    </div>
    <!-- Video -->
    <div class="flex flex-col justify-center items-center h-120 w-full">
        <iframe 
            class="w-full md:w-2/3 h-full"
            src="https://www.youtube.com/embed/tHqrII-CNzc?autoplay=1&mute=1" 
            frameborder="0" 
            allow="autoplay" 
            allowfullscreen></iframe>
        <!-- Slider -->
        <div class="flex flex-row">
            <div class="h-3 w-8 my-2 rounded-full bg-primary mr-1"></div>
            <div class="h-3 w-3 my-2 rounded-full bg-primary-400"></div>
        </div>
    </div>
    <!-- Digitalise your business -->
    <div class="flex flex-col items-center py-10">
        <span class="text-2xl uppercase text-primary-600 font-semibold">Digitalise your business</span>
        <span class="text-center">
            Manage your customer’s journey from order to fulfilment on 1 single platform. 
        </span>
        <span class="text-center">
            Built-in integration with payment and delivery channels. Easy to learn and fast to deploy.
        </span>
    </div>
    <!-- Who need us -->
    <div class="flex flex-col items-center py-4">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4">Who need us</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Retails -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/retails.png" alt="Retail">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold">Retail</span>
                    <span class="text-center">
                        Add products, inventory to your online store. Manage entire sales process and more.
                    </span>
                </div>
            </div>
            <!-- F&B -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/fnb.png" alt="F&B">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold">F&B</span>
                    <span class="text-center">
                        Seamlessly integrate online store tools, from orders to tracking to delivery and repeat orders.
                    </span>
                </div>
            </div>
            <!-- Retails -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/services.png" alt="Services">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold">Services</span>
                    <span class="text-center">
                        From scheduling of appointments, bookings of spa sessions, meetings, to demos.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- SYMplified provides -->
    <div class="flex flex-col py-10 px-4">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">SYMplified provides</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Product & Inventory Management -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Product-and-Inventory-Management.svg" alt="Product & Inventory Management">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Product & Inventory Management</span>
            </div>
            <!-- Sales & Order Management -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Sales-and-Order-Management.svg" alt="Sales & Order Management">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Sales & Order Management</span>
            </div>
            <!-- Delivery Management -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Delivery-Management.svg" alt="Delivery Management">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Delivery Management</span>
            </div>
            <!-- Payment -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Payment.svg" alt="Payment">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Payment</span>
            </div>
            <!-- Set Promotions -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Set-Promotions.svg" alt="Set Promotions">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Set Promotions</span>
            </div>
            <!-- Sales Overview & Reports -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Sales-Overview-and-Reports.svg" alt="Sales Overview & Reports">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Sales Overview & Reports</span>
            </div>
            <!-- Mobile POS with Cashier & Built-in Scanner On-the-go -->
             <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Mobile-POS-with-Cashier-and-Built-in-Scanner-On-the-go.svg" alt="Mobile POS with Cashier & Built-in Scanner On-the-go">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">Mobile POS with Cashier & Built-in Scanner On-the-go</span>
            </div>
            <!-- E-Commerce Website (Web & Mobile) -->
            <div class="flex flex-col mx-4 w-56">
                <div class="relative w-56 h-56 flex justify-center items-center border-2 border-primary rounded-lg">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/E-Commerce-Website-Web-and-Mobile.svg" alt="E-Commerce Website (Web & Mobile)">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize text-primary-600 font-semibold">E-Commerce Website (Web & Mobile)</span>
            </div>
        </div>
    </div>
    <!-- Why SYMplified? -->
    <div class="flex flex-col py-10 px-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold mb-10">Why SYMplified?</span>
        <!-- Content -->
        <div class="grid grid-cols-1 sm:grid-cols-2 w-full justify-center gap-4 md:px-12">
            <div class="flex flex-col justify-center items-center rounded-lg p-8 bg-card">
                <div class="relative flex w-full h-30">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Simple-to-setup-and-operate.svg" alt="Simple to setup and operate">
                </div>
                <span class="uppercase font-semibold">Simple to setup and operate</span>
                <span class="text-center">No tech knowledge required. Step-by-step interface</span>
            </div>
            <div class="flex flex-col justify-center items-center rounded-lg p-8 bg-card">
                <div class="relative flex w-full h-30">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Simple-to-customise.svg" alt="Simple to customise">
                </div>
                <span class="uppercase font-semibold">Simple to customise</span>
                <span class="text-center">To meet your business and customer needs</span>
            </div>
            <div class="flex flex-col justify-center items-center rounded-lg p-8 bg-card">
                <div class="relative flex w-full h-30">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Simple-on-the-finances.svg" alt="Simple on the finances">
                </div>
                <span class="uppercase font-semibold">Simple on the finances</span>
                <div class="flex items-center justify-center p-2 border border-2 border-red-500">
                    <span class="text-center">No upfront cost. Only pay as you earn(PAYE)</span>
                </div>
                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:arrow-down'"></mat-icon>
                <span class="text-center">As low as RM2 per day for all you need to run your online and offline business.</span>
            </div>
            <div class="flex flex-col justify-center items-center rounded-lg p-8 bg-card">
                <div class="relative flex w-full h-30">
                    <img
                        class="object-scale-down p-2" 
                        src="assets/images/static/Simple-to-manage.svg" alt="Simple to manage">
                </div>
                <span class="uppercase font-semibold">Simple to manage</span>
                <span class="text-center">One dashboard to manage, connectand interact with multiple chat networks, delivery vendors, payment channelsand POS systems</span>
            </div>
        </div>
    </div>
</div>
