<div class="flex flex-col w-full h-full">
    <!-- Tagline -->
    <div class="flex items-center justify-center py-10">
        <div class="flex flex-col items-start justify-center w-200"> 
            <span class="text-2xl uppercase text-center text-primary-600 font-semibold mb-4">Refund Policy</span>
            <span class="my-4">
                We understand that sometimes things don’t always go according to plan, so we have made this Refund Policy to help you!
            </span>
            <!-- For F&B -->
            <div class="flex flex-col my-4">
                <span class="text-xl font-bold">
                    For F&B
                </span>
                <!-- As a Merchant -->
                <span class="font-semibold mt-2">
                    As a Merchant
                </span>
                <ul class="mt-2 list-decimal pl-4">
                    <li>Merchant can help their customers to make the refund only via Symplified platform.</li>
                    <li>Once merchant accepts to refund, please access Symplified platform and select the correct transaction to perform “refund”.</li>
                </ul>
                <!-- As a Buyer -->
                <span class="font-semibold mt-4">
                    As a Buyer
                </span>
                <ul class="mt-2 list-decimal pl-4">
                    <li>IF refund is required, buyer(s) are required to be in contact with merchant they shopped with, and explain the need for refund.</li>
                    <li>Once merchant accepts the refund, the merchant will need to update the Symplified platform which will then facilitate credit back to buyer via the payment option buyer chose during the payment of the item.</li>
                    <li>Buyer can contact the merchant via the email or phone number available at the store front.</li>
                    <li>The refund process may take approximately 14 working days upon approval.</li>
                </ul>
            </div>

            <!-- For E-commerce -->
            <div class="flex flex-col my-4">
                <span class="text-xl font-bold">
                    For E-commerce
                </span>
                <!-- As a Merchant -->
                <span class="font-semibold mt-2">
                    As a Merchant (Seller)
                </span>
                <ul class="mt-2 list-decimal pl-4">
                    <li>Merchant can help their customers to make the refund only via Symplified platform.</li>
                    <li>Once merchant accepts to refund, please access Symplified platform and select the correct transaction to perform “refund”.</li>
                </ul>
                <!-- As a Buyer -->
                <span class="font-semibold mt-4">
                    As a Buyer
                </span>
                <ol class="mt-2 list-decimal pl-4">
                    <li>Customers are encouraged to deal with Merchant directly for any issues relating to the purchase made.</li>
                    <li>IF refund is required, please be in touch with the Merchant to resolve the matter.</li>
                    <ol class="mt-2 list-disc pl-4">
                        <li>If no resolution. Should the dispute not be resolved, buyers can forward proof and documents related to the issues and email to help@symplified.biz with the Order/Transaction ID.</li>
                    </ol>
                </ol>
            </div>
        </div>
    </div>
</div>
