<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="hidden md:block object-fit p-2 w-full md:h-96 blur-sm md:blur-none" 
            src="assets/images/static/headerimage-pricing.jpg" alt="Banner" />
        <div class="md:absolute flex flex-col items-start justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-128 md:left-16 md:top-20">
            <span class="text-2xl text-black dark:text-white md:dark:text-black font-semibold capitalize">Pricing</span>
            <div class="w-30 bg-primary-500 dark:bg-white md:dark:bg-primary-500 h-0.5 my-8"></div>
            <span class="text-3xl sm:text-4xl uppercase text-black dark:text-white md:dark:text-black">Just pay only for what you need</span>
            <span class="text-xl sm:text-2xl capitalize mt-4 text-black dark:text-white md:dark:text-black">Free online store setup and low transaction fee.</span>
        </div>
    </div>
    <!-- Tagline -->
    <div class="flex items-center justify-center py-10">
        <div class="flex flex-col items-center justify-center w-200"> 
            <span class="text-2xl uppercase text-center text-primary-600 font-semibold mb-4">SYMplified is not a one-size, fit-all platform. It grows with your menu and your customers.</span>
            <span class="text-center my-4">
                With SYMplified, you know all your business expenses from the start. You simply pay for what you need. So that you know exactly what you’re getting from the start, with no hidden suprises.
            </span>
            <span class="text-center my-4">
                And as your business grows and progresses, you have the choice to add additional functions or upgrade with no penalty.
            </span>
            <span class="text-center my-4">
                From Food & Beverage businesses and outlets, to e-commerce businesses. Coming soon is our Services platform for appointments, bookings or scheduling. The best part is you only pay as you earn (PAYE).
            </span>
            <span class="text-center my-4">
                We provide below payment channels.
            </span>
            <img class="w-100" src="assets/images/static/payment.png" alt="Available Payments">
        </div>
    </div>
    <!-- Registrations -->
    <div class="flex flex-col py-10 px-4">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold mb-10">Registrations</span>
        <!-- Content -->
        <div class="grid grid-cols-1 sm:grid-cols-2 w-full justify-center gap-4 md:px-12">
            <div class="flex flex-row w-full justify-between items-center rounded-lg p-4 bg-card shadow-lg border">
                <img
                    class="object-contain p-2 w-1/2" 
                    src="assets/images/static/icon-finance-08.svg" alt="Product & Inventory Management">
                <div class="flex flex-col w-1/2 line-clamp-4">
                    <p class="capitalize text-lg font-semibold">Monthly or Yearly fees</p>
                    <p class="">ZERO monthly or yearly fees.</p>
                </div>
            </div>
            <div class="flex flex-row w-full justify-between items-center rounded-lg p-4 bg-card shadow-lg border">
                <img
                    class="object-contain p-2 w-1/2" 
                    src="assets/images/static/icon-finance-10.svg" alt="Product & Inventory Management">
                <div class="flex flex-col w-1/2 line-clamp-4">
                    <p class="capitalize text-lg font-semibold">Registration process</p>
                    <p class="">Sign up, create your store and product catalog and start selling.</p>
                </div>
                </div>
            <div class="flex flex-row w-full justify-between items-center rounded-lg p-4 bg-card shadow-lg border">
                <img
                    class="object-contain p-2 w-1/2" 
                    src="assets/images/static/icon-finance-03.svg" alt="Product & Inventory Management">
                <div class="flex flex-col w-1/2 line-clamp-4">
                    <p class="capitalize text-lg font-semibold">No additional fees</p>
                    <p class="">No application and setup fees when registering with SYMplified.</p>
                </div>
            </div>
            <div class="flex flex-row w-full justify-between items-center rounded-lg p-4 bg-card shadow-lg border">
                <img
                    class="object-contain p-2 w-1/2" 
                    src="assets/images/static/icon-finance-12.svg" alt="Product & Inventory Management">
                <div class="flex flex-col w-1/2 line-clamp-4">
                    <p class="capitalize text-lg font-semibold">Who can register?</p>
                    <p class="">Registrations are open to all types of sellers and businesses. No SSM documents are necessary.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Settlement process -->
    <div class="flex flex-col items-center py-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4">Settlement process</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Retails -->
            <div class="flex flex-col sm:h-72 w-full sm:w-80 mx-4 bg-card rounded-lg border shadow-lg">
                <div class="relative grow">
                    <img
                        class="h-40" 
                        src="assets/images/static/icon-finance-05.svg" alt="Retail">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">2 times a week settlement</span>
                    <span class="text-center">
                        2 times a week settlement, Wednesday and Friday payout.
                    </span>
                </div>
            </div>
            <!-- F&B -->
            <div class="flex flex-col sm:h-72 w-full sm:w-80 mx-4 bg-card rounded-lg border shadow-lg">
                <div class="relative grow">
                    <img
                        class="h-40" 
                        src="assets/images/static/icon-finance-14.svg" alt="F&B">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">No settlement fees</span>
                    <span class="text-center">
                        No settlement fees will be charged. SYMplified will transfer them automatically to your account.
                    </span>
                </div>
            </div>
            <!-- Retails -->
            <div class="flex flex-col sm:h-72 w-full sm:w-80 mx-4 bg-card rounded-lg border shadow-lg">
                <div class="relative grow">
                    <img
                        class="h-40" 
                        src="assets/images/static/icon-finance-06.svg" alt="Services">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">No minimum limit</span>
                    <span class="text-center">
                        Cash out on any amount to your bank account.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
