<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="hidden md:block object-fit p-2 w-full md:h-96 blur-sm md:blur-none" 
            src="assets/images/static/headerimage-about-us.jpg" alt="Banner" />
        <div class="md:absolute flex flex-col items-start justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-128 md:left-16 md:top-20">
            <span class="text-2xl text-black md:text-white dark:text-white font-semibold capitalize">About Us</span>
            <div class="w-30 bg-primary-500 md:bg-white dark:bg-white h-0.5 my-8"></div>
            <span class="text-3xl sm:text-4xl uppercase text-black md:text-white dark:text-white">Digitalise your business with your very own online store</span>
        </div>
    </div>
    <!-- Tagline -->
    <div class="flex items-center justify-center py-10">
        <div class="flex flex-col items-center justify-center w-200"> 
            <span class="text-2xl uppercase text-center text-primary-600 font-semibold mb-4">Symplified is a unique yet affordable business platform for all business types</span>
            <span class="text-center my-4">
                It is about YOU and the need to get your business online. That is Symplified's dream.
            </span>
            <span class="text-left my-4">
                Our platform aims to give all businesses their very own online store; from home-based to stalls, kiosks, small outlets to even full-fledged outlets or stores.
            </span>
            <span class="text-left my-4">
                Your business needs to get onboard with an online store, if you haven't already, as it is becoming more significant as an add-on to a physical store.
            </span>
            <img class="w-56 my-4" src="assets/images/static/aboutus_HL_M04_08.jpg" alt="Story About Us">
            <span class="text-left my-4">
                Our dream started when business-minded individuals came together to build Symplified to explore and extend technology for everyone.
            </span>
            <span class="text-left my-4">
                The ideation and vision is to make owning an online store <strong>CHEAPER AND AFFORDABLE</strong> for every business owner and build their online business especially with the new norm.
            </span>
            <span class="w-full text-left my-4">
                It's that simple.
            </span>
            <img class="w-56 my-4" src="assets/images/static/aboutus_Online_Shopping.jpg" alt="Shopping About Us">
        </div>
    </div>
    <!-- Mission -->
    <div class="flex flex-col items-center py-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4">Mission</span>
        <!-- Description -->
        <span class="text-center text-black mt-4 mb-8 sm:w-200">
            To provide an affordable online business platform with end-to-end customisable and scalable features for all business types from single owner home-based business to full-fledged shops or outlets.
        </span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Why symplified? -->
            <div class="flex flex-col sm:h-60 w-full sm:w-96 mx-4 p-4 bg-card rounded-lg border shadow-lg">
                <span class="text-xl font-semibold text-center uppercase">Why symplified?</span>
                <div class="w-full h-0.5 bg-primary-200 my-4"></div>
                <div class="flex flex-col">
                    <span class="flex flex-row items-center my-1">
                        <mat-icon class="mr-2 text-primary-600" [svgIcon]="'mat_outline:check'"></mat-icon>
                        <strong>Fast to Deploy – can be setup immediately</strong>
                    </span>
                    <span class="flex flex-row items-center my-1">
                        <mat-icon class="mr-2 text-primary-600" [svgIcon]="'mat_outline:check'"></mat-icon>
                        <strong>Low set-up cost – no setup or no monthly cost</strong>
                    </span>
                    <span class="flex flex-row items-center my-1">
                        <mat-icon class="mr-2 text-primary-600" [svgIcon]="'mat_outline:check'"></mat-icon>
                        <strong>Easy control and operation of your store</strong>
                    </span>
                    <span class="flex flex-row items-center my-1">
                        <mat-icon class="mr-2 text-primary-600" [svgIcon]="'mat_outline:check'"></mat-icon>
                        <strong>24/7 Store availability</strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Corporate office -->
    <div class="w-full flex flex-col items-center bg-primary-500 p-4">
        <!-- Title -->
        <span class="text-2xl uppercase text-white font-semibold my-4">Corporate office</span>
        <div class="flex flex-col sm:flex-row">
            <!-- Address -->
            <div class="flex flex-col sm:h-56 sm:w-96 mx-4 mb-4 sm:mb-0 p-4 bg-card rounded-lg border shadow-lg">
                <span class="text-xl font-semibold text-center capitalize">Address</span>
                <div class="w-full h-0.5 bg-primary-200 my-4"></div>
                <span class="flex flex-row text-lg sm:text-2xl items-center my-1">
                    Unit S-14-09, Level 14, First Subang Jalan SS15/4G, 47500 Subang Jaya, Selangor, Malaysia
                </span>
            </div>
            <!-- Contact -->
            <div class="flex flex-col sm:h-56 sm:w-96 mx-4 p-4 bg-card rounded-lg border shadow-lg">
                <span class="text-xl font-semibold text-center capitalize">Phone</span>
                <div class="w-full h-0.5 bg-primary-200 my-4"></div>
                <span class="text-lg sm:text-2xl items-center my-1 text-center">
                    +6013 363 9668
                </span>
            </div>
        </div>
    </div>
</div>
