<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="hidden md:block object-fit p-2 w-full md:h-96 blur-sm md:blur-none" 
            src="assets/images/static/headerimage-solutions-services.png" alt="Banner" />
        <div class="md:absolute flex flex-col items-start justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-128 md:left-16 md:top-20">
            <span class="text-2xl text-black md:text-white dark:text-white font-semibold capitalize">Services</span>
            <div class="w-30 bg-primary-500 md:bg-white dark:bg-white h-0.5 my-8"></div>
            <span class="text-3xl sm:text-4xl uppercase text-black md:text-white dark:text-white">Showcase your services online</span>
            <span class="text-xl text-primary-500 md:text-white dark:text-white">From scheduling of appointments, bookings of spa sessions, meetings, to demos.</span>
        </div>
    </div>
    <!-- All-in-one Services Solution -->
    <div class="flex flex-col items-center py-4">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4 text-center">All-in-one Services Solution</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Appointment Booking -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/Appointment-Booking.png" alt="Appointment Booking">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Appointment Booking</span>
                    <span class="text-center">
                        Allowing pre booking and early appointments .
                    </span>
                </div>
            </div>
            <!-- Mobile POS -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/Mobile-POS.png" alt="Built-in Scanner On-the-go">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Mobile POS</span>
                    <span class="text-center">
                        Light weight, mobile and any where POS or cashier system.
                    </span>
                </div>
            </div>
            <!-- E-Commerce -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/E-Commerce-2.png" alt="E-Commerce">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">E-Commerce</span>
                    <span class="text-center">
                        Sell your merchandise through your own online store and have it delivered to your customers. 
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Perfect For Any retail Businesses -->
    <div class="flex flex-col py-10 px-4">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Appropriate for a wide range of services, from beauty to automotive</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Hair Saloons -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Hair-Saloons.png" alt="Hair Saloons">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Hair Saloons</span>
            </div>
            <!-- Physiotherapy -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Physiotherapy.png" alt="Physiotherapy">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Physiotherapy</span>
            </div>
            <!-- Car / Motorbike Workshop -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Car-Motorbike-Workshop.png" alt="Car / Motorbike Workshop">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Car / Motorbike Workshop</span>
            </div>
            <!-- Car Detailing -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Car-Detailing.png" alt="Car Detailing">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Car Detailing</span>
            </div>
            <!-- Pedicure Service -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Pedicure-Service.png" alt="Pedicure Service">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Pedicure Service</span>
            </div>
            <!-- Spa Services -->
            <div class="flex flex-col mx-4 w-56">
                <div class="rounded-lg overflow-hidden">
                    <img
                        class="object-scale-down" 
                        src="assets/images/static/Spa-Services.png" alt="Spa Services">
                </div>
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Spa Services</span>
            </div>
        </div>
    </div>
    <!-- Payment channels -->
    <div class="flex flex-col py-10 px-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Payment channels</span>
        <!-- Content -->
        <div class="grid grid-cols-7 flex-wrap justify-center gap-4">
            <!-- TnG -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/TnG.svg" alt="TnG">
            <!-- Boost -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Boost.svg" alt="Boost">
            <!-- Grab Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/GPay.svg" alt="Grab Pay">
            <!-- Shopee Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/SPay.svg" alt="Shopee Pay">
            <!-- Duit Now -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Duit-Now.svg" alt="Duit Now">
            <!-- PayLater by Grab -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/paylater-by-grab.svg" alt="PayLater by Grab">
            <!-- FPX -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/FPX.svg" alt="FPX">
            <!-- Master Card -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Master-Card.svg" alt="Master Card">
            <!-- Visa -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Visa.svg" alt="Visa">
            <!-- Ali Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Alipay.svg" alt="Ali Pay">
            <!-- WeChat Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/WeChat-Pay.svg" alt="WeChat Pay">
            <!-- Atome -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/atome.svg" alt="Atome">
            <!-- IOU Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/ioupay.svg" alt="IOU Pay">
            <!-- Pay and Pace -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/pay-and-pace.svg" alt="Pay and Pace">
        </div>
    </div>
</div>
