<div class="flex flex-col w-full h-full">
    <!-- Tagline -->
    <div class="flex items-center justify-center py-10">
        <div class="flex flex-col items-start justify-center w-200"> 
            <span class="text-2xl uppercase text-center text-primary-600 font-semibold mb-4">Privacy Policy (PDPA)</span>
            <span class="my-4">
                This Data Protection Policy is designed to assist you in understanding how we collect, use, disclose and/or process the personal data you have provided to us, as well as to assist you in making an informed decision before providing us with any of your personal data.
            </span>
            <span class="my-4">
                If you, at any time, have any queries on the Policy or any other queries or complaints in relation to how we may manage, protect and/or process your personal data, please do not hesitate to contact our inquiry or feedback channel. You can contact us at:
            </span>
            <span class="mt-4 font-bold">
                Customer Feedback Representatives:
            </span>
            <div class="flex flex-col mb-4">
                <span class="">
                    Phone: <a href="tel:60133639668">+6013 363 9668</a>
                </span>
                <span class="">
                    Email: <a class="underline text-primary" href="mailto:help@symplified.biz">help@symplified.biz</a>
                </span>
            </div>

            <!-- INTRODUCTION TO THE PDPA -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    INTRODUCTION TO THE PDPA
                </span>
                <span class="mt-2">
                    "Personal Data" is defined under the PDPA to mean data relating to an individual who can be identified from that data and other information in the possession of an individual and includes any sensitive personal data and expression of an individual. Examples of Personal Data which we may collect include name, email, phone/fax number, addresses, photographs, personal preferences & interest and expression of opinion.
                </span>
                <span class="mt-2">
                    We will collect, use and process your Personal Data in accordance with the PDPA. We will notify you of the purposes for which your Personal Data may be collected, used, disclosed and/or processed, as well as obtain your consent for the collection, use, disclosure and/or processing of your Personal Data for the intended purposes, unless an exception under the law permits us to collect and process your Personal Data without your consent.
                </span>
            </div>

            <!-- COLLECTION OF PERSONAL DATA. -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    COLLECTION OF PERSONAL DATA.
                </span>
                <span class="mt-2">
                    Your Personal Data is collected and stored when you sign up for our digital service or application, when you enter our website and when you provide Personal Data to us through any other channel.
                </span>
            </div>

            <!-- PURPOSE OF COLLECTING PERSONAL DATA -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    PURPOSE OF COLLECTING PERSONAL DATA
                </span>
                <span class="mt-2">
                    Your Personal Data will be collected, used and otherwise processed by us for the following purposes:
                </span>
                <ul class="mt-2 list-disc pl-4">
                    <li>to better understand your user experience, to improve product and services, provide our marketing information, enter into and execute user experience and digital services</li>
                    <li>for disclosure to our authorised third parties.</li>
                    <li>for other purposes as notified to you at the time of collection.</li>
                    <li>for other purposes directly relating to any of the above.</li>
                </ul>
                <span class="mt-2">
                    By providing your Personal Data to us, you acknowledge and accept that we may retain your information for as long as necessary for us to fulfill the purposes for which your information was collected and for us to comply with the PDPA and any relevant law.
                </span>
                <span class="mt-2">
                    You may choose whether or not to provide your Personal Data to us. However, your failure to supply to us your Personal Data may result in us being unable to provide you with services and/or products.
                </span>
            </div>

            <!-- DISCLOSURE OF PERSONAL DATA -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    DISCLOSURE OF PERSONAL DATA
                </span>
                <span class="mt-2">
                    We respect the confidentiality of the Personal Data you have provided to us.
                </span>
                <span class="mt-2">
                    In that regard, we will not disclose your Personal Data to third parties without first obtaining your consent permitting us to do so. Your Personal Data may be disclosed to the following parties:
                </span>
                <ul class="mt-2 list-disc pl-4">
                    <li>commercial partners or companies related to or affiliated with us.</li>
                    <li>our auditors, solicitors, accountants.</li>
                    <li>service providers, contractors and sub-contractors who are involved in the provision of facilities, products and/or services to us.</li>
                    <li>Government or regulatory bodies, bureaus, agencies or any person to whom we are required by law to disclose information.</li>
                </ul>
                <span class="mt-2">
                    Where permitted, your Personal Data may be provided to any of the parties above who may be located in or outside of Malaysia. By providing us with Your Personal Data, you consent to us disclosing your Personal Data to those third parties and/or the transfer of your information outside your jurisdiction or to those third parties described above.
                </span>
            </div>

            <!-- REQUEST FOR ACCESS AND/OR CORRECTION OF PERSONAL DATA -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    REQUEST FOR ACCESS AND/OR CORRECTION OF PERSONAL DATA
                </span>
                <span class="mt-2">
                    You may request to access and/or correct your Personal Data currently in our possession or control by submitting a written or online request to us by contacting our Customer Service Representatives at the phone number and e-mail address stated above.
                </span>
            </div>

            <!-- REQUEST TO WITHDRAW CONSENT -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    REQUEST TO WITHDRAW CONSENT
                </span>
                <span class="mt-2">
                    You may withdraw your consent for the collection, use and/or disclosure of your Personal Data in our possession or under our control by submitting a written or online request to us.
                </span>
            </div>

            <!-- ADMINISTRATION AND MANAGEMENT OF PERSONAL DATA -->
            <div class="flex flex-col my-4">
                <span class="font-bold">
                    ADMINISTRATION AND MANAGEMENT OF PERSONAL DATA
                </span>
                <span class="mt-2">
                    We will take reasonable efforts to ensure that your Personal Data is accurate and complete. However, this means that you must also update us of any changes in your Personal Data that you had initially provided us with. We will not be responsible for relying on inaccurate or incomplete Personal Data arising from you not updating us of any changes in your Personal Data that you had initially provided us with.
                </span>
                <span class="mt-2">
                    We will also put in place reasonable security arrangements to ensure that your Personal Data is adequately protected and secured. Appropriate security arrangements will be taken to prevent any unauthorised access, collection, use, disclosure, copying, modification, leakage, loss, damage and/or alteration of your Personal Data. However, we cannot assume responsibility for any unauthorised use of your Personal Data by third parties which are wholly attributable to factors beyond our control.
                </span>
                <span class="mt-2">
                    This website may contain links to third party websites which we have no control over. You should review the privacy policies on those websites to understand their policies on how they deal with your Personal Data.
                </span>
                <span class="mt-2">
                    Where your Personal Data is to be transferred out of Malaysia, we will comply with the PDPA in doing so. In this regard, this includes us obtaining your consent unless an exception under the PDPA or law applies, and taking appropriate and reasonable steps to ascertain that the foreign recipient organisation of the Personal Data is bound by legally enforceable obligations to provide to the transferred Personal Data a standard of protection that is at least comparable to the protection under the PDPA. This may include us entering into an appropriate contract with the foreign recipient organisation dealing with the Personal Data transfer or permitting the Personal Data transfer without such a contract if the PDPA or law permits us to.
                </span>
            </div>

        </div>
    </div>
</div>
