<div class="flex flex-col w-full h-full">
    <!-- Banner -->
    <div class="relative flex flex-col w-full">
        <img
            class="hidden md:block object-fit p-2 w-full md:h-96 blur-sm md:blur-none" 
            src="assets/images/static/headerimage-solutions-fnb.png" alt="Banner" />
        <div class="md:absolute flex flex-col items-start justify-center w-full h-full p-4 md:p-0 md:h-auto md:w-128 md:left-16 md:top-20">
            <span class="text-2xl text-black md:text-white dark:text-white font-semibold capitalize">Retail</span>
            <div class="w-30 bg-primary-500 md:bg-white dark:bg-white h-0.5 my-8"></div>
            <span class="text-3xl sm:text-4xl uppercase text-black md:text-white dark:text-white">Retail Ordering Solution</span>
            <span class="text-xl text-primary-500 md:text-white dark:text-white">Take your Retail business to the next level with Symplified. Our streamlined ordering solutions prioritize ease of use, while introducing revolutionary labour-saving measures that will help reduce costs and maximize up efficiency.</span>
        </div>
    </div>
    <!-- All-in-one Retail Ordering Solution -->
    <div class="flex flex-col items-center py-4">
        <!-- Title -->
        <span class="text-2xl uppercase text-primary-600 font-semibold my-4 text-center">All-in-one Retail Ordering Solution</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Mobile POS with Cashier -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/Mobile-POS-with-Cashier.png" alt="Mobile POS with Cashier">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Mobile POS with Cashier</span>
                    <span class="text-center">
                        Light weight, mobile and any where POS or cashier system.
                    </span>
                </div>
            </div>
            <!-- Built-in Scanner On-the-go -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/Built-in-Scanner-On-the-go.png" alt="Built-in Scanner On-the-go">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">Built-in Scanner On-the-go</span>
                    <span class="text-center">
                        Build in QR scanning functionality
                    </span>
                </div>
            </div>
            <!-- E-Commerce -->
            <div class="flex flex-col h-80 w-60 border-2 border-primary rounded-lg mx-4">
                <div class="relative grow">
                    <img
                        class="object-cover w-full h-full" 
                        src="assets/images/static/E-Commerce.png" alt="E-Commerce">
                </div>
                <div class="flex flex-col items-center h-32 p-2">
                    <span class="text-xl capitalize text-primary-600 font-semibold text-center">E-Commerce</span>
                    <span class="text-center">
                        Have your own Digital Store with various payment facilities and delivery fulfilment.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Perfect For Any retail Businesses -->
    <div class="flex flex-col py-10 px-4">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Perfect For Any retail Businesses</span>
        <!-- Content -->
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Grocery Store -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Grocery-Store.png" alt="Grocery Store">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Grocery Store</span>
            </div>
            <!-- Convenience Store -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Convenience-Store.png" alt="Convenience Store">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Convenience Store</span>
            </div>
            <!-- Department Store -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Department-Store.png" alt="Department Store">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Department Store</span>
            </div>
            <!-- Kiosk Shop -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Kiosk-Shop.png" alt="Kiosk Shop">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Kiosk Shop</span>
            </div>
            <!-- Specialty Store -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/Specialty-Store.png" alt="Specialty Store">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">Specialty Store</span>
            </div>
            <!-- E-Commerce Store -->
            <div class="flex flex-col mx-4 w-56">
                <img
                    class="object-scale-down p-2" 
                    src="assets/images/static/E-Commerce-Store.png" alt="E-Commerce Store">
                <span class="mt-2 text-center leading-5 text-xl capitalize font-semibold">E-Commerce Store</span>
            </div>
        </div>
    </div>
    <!-- Payment channels -->
    <div class="flex flex-col py-10 px-4 bg-[#e3f5fd]">
        <!-- Title -->
        <span class="text-center text-2xl uppercase text-primary-600 font-semibold my-4">Payment channels</span>
        <!-- Content -->
        <div class="grid grid-cols-5 flex-wrap justify-center gap-4">
            <!-- TnG -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/TnG.svg" alt="TnG">
            <!-- Boost -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Boost.svg" alt="Boost">
            <!-- Grab Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/GPay.svg" alt="Grab Pay">
            <!-- Shopee Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/SPay.svg" alt="Shopee Pay">
            <!-- Duit Now -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Duit-Now.svg" alt="Duit Now">
            <!-- FPX -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/FPX.svg" alt="FPX">
            <!-- Master Card -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Master-Card.svg" alt="Master Card">
            <!-- Visa -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Visa.svg" alt="Visa">
            <!-- Ali Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/Alipay.svg" alt="Ali Pay">
            <!-- WeChat Pay -->
            <img
                class="h-10 my-2" 
                src="assets/images/static/WeChat-Pay.svg" alt="WeChat Pay">
        </div>
    </div>
</div>
